@using MyPharmacy.Data.ViewModels;
@model ResetPasswordVM;

@{
    ViewData["Title"] = "Edit password";
}

<h1>Edit</h1>

<h4>Reset password</h4>
<hr />
@if (TempData["success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["success"];
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["error"]
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span><b>Sorry!</b> - @TempData["Error"] </span>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Password">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstPassword" class="control-label"></label>
                <input asp-for="FirstPassword" class="form-control" />
                <span asp-validation-for="FirstPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <a class="btn btn-outline-secondary" asp-controller="Account" asp-action="Profile">Back to Profile</a>
                <input class="btn btn-outline-success" type="submit" value="Update" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
