@{
    ViewData["Title"] = "AccessDenied";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <h1 class="text-danger">Access Denied !</h1>
        <br />
        <h4><strong>An Access Denied while processing your request. You have no permission to this page. </strong></h4>

    </div>
</div>

